<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halaman Utama Mading</title>
  </head>
  <body>
    <%- include('header') %>

    <div class="mading-list mh100">
      <% mading.forEach(item => { %>
      <div class="mading-card">
        <h2 class="card-title" style="margin-bottom: 10px"><%=item.judul%></h2>
        <img
          class="card-thumbnail"
          src="/uploads/<%= item.thumbnail %>"
          alt="" />
        <p class="card-caption"><%=item.isi%></p>
        <br />
        <a href="">Read More</a>
      </div>
      <% }) %>
    </div>

    <%- include('footer') %>
  </body>
</html>
